#tahoma-text{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}
#deals-text{
    font-family: Arial;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
}
#sales-text{
    font-family: Arial;
    font-style: italic;
    color: red;
    margin-top: 0;
    margin-bottom: 50px;
}
#title{
    font-family: Verdana;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 18px;
}
#subtitle{
    font-family: Verdana;
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 18px;
    color: grey;
}
#description{
    font-family: Verdana;
    width: 270px;
    font-size: 14px;
    line-height: 22px;
}
#button{
    background-color: green;
    border: none;
    font-family: Verdana;
    color: white;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}
.text{
    font-family: Arial;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
#shopping-text{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}
#apple-text{
    margin-bottom: 20px;
}
#more-text{
    color: rgb(58, 108, 199);
    margin-bottom: 50px;
}
.e5{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center
}
#new-text{
    color: rgb(245, 99, 0);
    margin-bottom: 10px;
}
#macbook-text{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}
#description-macbook{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}
#price-text{
    margin-bottom: 25px;
}
#buy-text{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 113, 227);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    cursor: pointer;
}
.f5{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
}
#number-text{
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 5px;
}
#dolar-text{
    color: rgb(100, 100, 100);
    font-size: 16px;
}
#increase-text{
    color: rgb(24, 128, 56);
    margin-bottom: 8px;
}
#time-text{
    color: rgb(100, 100, 100);
    margin-bottom: 50px;
}
#value-text{
    color: rgb(235, 39, 39);
}
.g5{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}
#email-header{
    margin-bottom: 5px;
}
#user-email{
    font-weight: bold;
}
#time-email{
    color: rgb(100, 100, 100);
}
#email-content{
    width: 600px;
    margin-bottom: 25px;
    line-height: 25px;
}
#other{
    color: rgb(29, 155, 240);
}